include CHANGELOG.md
include CONTRIBUTING.md
include LICENSE
include README.md
include requirements.txt
include pyproject.toml

recursive-include docs/source *
include docs/Makefile docs/make.bat
recursive-include esp_lab *.yaml
recursive-include esp_lab *.py
recursive-include workflows *.yaml
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
prune tests*
prune ci*
